body {
    background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
    background-image: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
td {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
td:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color:aquamarine;
}
h2 {
    text-shadow: 2px 2px #ff0000;
}
div .center{
    text-align:center;
}




#main {
    width: 450px;
    height: 200px;
    border: 1px solid black;
   
   
    display: flex;
    
    margin-left:50%;
}
.green-square {
    
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.inner-b{
    margin-left:50px;
}
.move-down{
    padding-top:100px;
}
li {
    background: linear-gradient(to right, rgb(253, 200, 48), rgb(243, 115, 53));
    background-image: linear-gradient(to right, rgb(253, 200, 48), rgb(243, 115, 53));
}
#error{
    margin-left:52%;
}

  



